<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.mitapp.umai">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <application
        android:name=".AppUmai"
        android:allowBackup="true"
        android:icon="@drawable/ic_umai_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_umai_logo"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity android:name=".ui.home.main.templates.activity.edit.EditTemplatesActivity"></activity>
        <activity android:name=".ui.home.main.templates.activity.detail.PayTemplatesActivity" />
        <activity android:name=".ui.home.main.templates.activity.secondservice.SecondServiceActivity" />
        <activity android:name=".ui.home.main.templates.activity.chooseservices.ChooseServicesActivity" />
        <activity android:name=".ui.home.main.templates.activity.createtemplates.CreateTemplatesActivity" />
        <activity android:name=".ui.home.main.templates.activity.templatesactivity.TemplatesActivity" />
        <activity
            android:name=".ui.registration.activity.UserIdentificationActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.registration.activity.RegistrationStartActivity" />
        <activity
            android:name=".ui.camera.CameraActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.registration.activity.SmsCodeActivity" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.web_view.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.activity.MainActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAACmBp7mn0_8_hsnZza1Gauv4JVe14WDY" />
    </application>

</manifest>